@model Movielogue.Web.Models.Home.MoviesListViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Movielogue";
}

<div class="jumbotron">
    <h1>Movielogue</h1>
    <p class="lead">Кинокаталог №1 в этой комнате</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" href="@Url.Action("Edit", "Home")">Добавить</a>
    }
</div>

<div class="row">
    <div class="col-md-8">

        @foreach (var item in Model.MoviesPagedList)
        {
            @Html.Partial("_MovieListItem", item)
        }

        <br />
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model.MoviesPagedList, page => Url.Action("Index", new { page }))
    </div>
</div>